.PilarImageOverlayWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  padding: 10px;
  align-items: flex-end;
  transition: 0.6s ease-out;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.PilarImageOverlayWrapper:hover {
  transform: translateY(15px);
}

.PilarImageOverlayWrapper:hover::before {
  opacity: 1;
}

.PilarImageOverlayWrapper:hover .PilarImageOverlayContent {
  opacity: 1;
  transform: translateY(0);
}

.PilarImageOverlayWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.4) 100%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
  border-radius: 10px;
}

.PilarImageOverlayWrapper .PilarImageOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.PilarImageOverlayWrapper .PilarImageOverlayContent {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
}

.PilarImageOverlayText {
  font-size: 1rem;
}
