.PilarMultiContentWrapper {
  display: flex;
  position: relative;
  height: 200px;
  align-items: flex-end;
}

.PilarMultiContentWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}
