/* For desktop: */

@media only screen and (min-width: 769px) {
  .loading-page img {
    width: 30%;
  }

  .splash-screen-page {
    height: 88vh;
  }

  .splash-screen-page img {
    width: 30%;
  }

  .HeaderContentClass {
    height: 50vh;
    background-position: top;
  }

  .HeaderContentClass::before {
    height: 50vh;
  }

  .WrapperContentClass {
    padding: 3em 5vw;
  }

  .WrapperContentClassTB {
    padding: 3em 0;
  }

  .WrapperDividerClass {
    border-bottom: 2px dashed #b2b2b2;
    margin-bottom: -3em;
  }

  h2.ant-typography.CarouselTitleClass,
  .ant-typography h2.CarouselTitleClass {
    font-size: 2rem;
  }

  .MissionCarouselClass {
    height: 100%;
    align-items: center;
    display: flex;
    padding-bottom: 5vw;
  }

  .ProjectHomeImage1 {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-top: 1em;
    left: 15%;
    z-index: 1;
  }

  .ProjectHomeImage2 {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-top: -1em;
    right: 15%;
  }

  .pilar-footer {
    background-color: #000;
    padding: 2em 10vw;
  }

  /* About */

  .PilarVideo {
    height: 100%;
    min-height: 480px;
  }

  /* About */

  /* Gallery */
  .PilarPhotoGrid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }
  /* Gallery */

  /* Contact */

  .ContactFormAbsoluteClass {
    margin: 20% 25% 0;
    position: absolute;
    width: 50%;
  }

  /* Contact */

  /* Project */

  .ProjectFilterSortWrap {
    justify-content: flex-end;
  }

  /* Project */
}

/* For desktop: */
