/* For mobile phones: */

#root {
  height: 100%;
  width: 100%;
}

.layout-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout-content-wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #fff;
}

.layout-content {
  background: #fff;
  height: 100%;
}

.loading-page {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.loading-page img {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

.splash-screen-page {
  position: relative;
  display: flex;
  height: 78vh;
  width: 100%;
  align-items: center;
}

.splash-screen-page img {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

.ant-layout-header.pilar-header {
  height: auto;
  padding: 1vh 5vw;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: #000;

  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
}

.ant-menu.pilar-menu {
  background: transparent;
  text-align: center;
}

.ant-menu-horizontal.pilar-menu,
.ant-menu-horizontal.pilar-menu:hover,
.ant-menu-horizontal.pilar-menu > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: none;
}

.ant-menu-horizontal.pilar-menu:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #e7b12e;
  border-bottom: none;
}

.ant-carousel {
  height: 100%;
}

.ant-carousel .PilarCarouselClass .slick-dots li {
  width: 10px;
  height: 10px;
}

.ant-carousel .PilarCarouselClass .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e7b12e;
}

.ant-carousel .PilarCarouselClass .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #dcdada;
  opacity: 1;
}

.ant-select-single.pilar-select:not(.ant-select-customize-input)
  .ant-select-selector {
  color: #fff;
}

.pilar-select > .ant-select-arrow {
  color: #fff;
  top: 48%;
}

.ant-layout-sider.pilar-sidebar {
  height: 100vh;
  padding: 0;
  background: #000;
}

.pilar-sidebar-wrapper {
  height: 80%;
  position: relative;
  overflow: auto;
  z-index: 999;
}

.pilar-sidebar-wrapper.active {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.pilar-menu.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
  color: #e7b12e;
}

.pilar-menu.ant-menu-inline {
  border: 0;
}

.pilar-menu.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #e7b12e;
}

.PilarCardMaskClass::before {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.85;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 1em;
}

.PilarButton.ant-btn {
  margin: 0 0.5em;
  background: #e7b12e;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  border: 1px solid transparent;
}

.PilarButton .ant-typography {
  color: #fff;
}

.PilarButton.ant-btn:focus,
.PilarButton.ant-btn:hover {
  border: 1px solid transparent;
}

.HeaderContentClass {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.HeaderContentClass::before {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.4) 100%,
    rgba(0, 0, 0, 0.5) 100%
  );
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.HeaderCarouselClass {
  height: 100%;
  align-items: center;
  display: flex;
  padding: 10vw;
}

.WrapperContentClass {
  padding: 1.5em 5vw;
}

.WrapperContentClassTB {
  padding: 1.5em 0;
}

.WrapperDividerClass {
  border-bottom: 2px dashed #b2b2b2;
  margin-bottom: -1.5em;
}

.CarouselTitleClass {
  position: relative;
  z-index: 1;
}

.CarouselTitleClass::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 2px;
  width: 10%;
  margin-left: -5%;
  background: #e7b12e;
}

.MissionCarouselClass {
  height: 100%;
  align-items: center;
  display: flex;
  padding-bottom: 10vw;
}

.IntroductionImage {
  height: 100%;
  min-height: 10rem;
}

.ProjectHomeContentClass::before {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.9;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.ProjectHomeImageWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.ProjectHomeImageWrap img {
  border-radius: 10px;
}

.pilar-footer {
  background-color: #000;
  padding: 2em 5vw;
}

.PilarErrorLoadingWrapper {
  position: relative;
  height: 100%;
}

.PilarErrorLoading {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
}

.PilarLogo {
  width: 100%;
  height: 100%;
}

/* About */
.PilarForewordWrap {
  width: 100%;
  height: 100%;
  min-height: 10rem;
  position: relative;
  display: flex;
}

.PilarForewordImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}

.PilarForewordContentWrapSmall {
  height: 100%;
  background-color: #e7b12e;
  padding: 2rem;
}

.PilarForewordTextClass {
  text-align: justify;
}

.PilarVideo {
  height: 100%;
}

/* About */

/* Career */
.ReviewContentClass {
  position: relative;
  z-index: 1;
}

.ReviewContentClass::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 15%;
  margin-left: -7.5%;
  background: #e7b12e;
}
/* Career */

/* Gallery */
.PilarPhotoGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

.PilarCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms;

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.PilarCardImage {
  height: 100%;
  width: 100%;
}

.PilarCardImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.PilarCardTall {
  grid-row: span 2 / auto;
}

.PilarCardWide {
  grid-column: span 2 / auto;
}
/* Gallery */

/* News */
.PilarSearchAbsolute {
  position: absolute;
  bottom: -1em;
  left: 0;
  width: 80%;
  margin: 0 10%;
  line-height: 2;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

.PilarSearchAbsolute:hover,
.PilarSearchAbsolute:focus,
.PilarSearchAbsolute.ant-input-affix-wrapper-focused {
  border: 1px solid #d9d9d9;
}

.detail-image-size {
  width: 100%;
}

.news-card-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.news-card-image-wrapper {
  width: 100%;
}

.news-card-image-wrapper img,
.news-card-image-wrapper .ant-image img {
  width: 100%;
}

/* News */

/* CSR */

.csr-card-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.csr-card-image-wrapper {
  width: 100%;
}

.csr-card-image-wrapper img,
.csr-card-image-wrapper .ant-image img {
  width: 100%;
}

/* CSR */

/* Project */
.PilarTabs.ant-tabs {
  color: #b7b7b7;
}

.PilarTabs.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid transparent;
}

.PilarTabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.PilarTabs .ant-tabs-tab:hover {
  color: #e7b12e;
}

.PilarTabs .ant-tabs-ink-bar {
  background: #e7b12e;
}

.PilarPagination .ant-pagination-item {
  background-color: transparent;
  border: 1px solid transparent;
}

.PilarPagination .ant-pagination-item a {
  color: #565656;
  font-weight: 500;
}

.PilarPagination .ant-pagination-item-active a {
  color: #fff;
  background-color: #e7b12e;
  border-radius: 5px;
}

.PilarNavigation {
  background: #e7b12e;
  color: #fff;
  padding: 0.5em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.PilarNavigation::after {
  font-size: 1.5em;
}

.ProjectFilterSortWrap {
  justify-content: center;
}

.ProjectWithLink:hover {
  text-decoration: underline;
  color: #e7b12e;
  cursor: pointer;
}

/* Project */

/* Contact */

.ContactFormWrapClass {
  position: relative;
}

.ContactFormAbsoluteClass {
  position: relative;
}

.ContactFormAbsoluteCardClass {
  border-radius: 0.5em;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

/* Contact */

/* Font */

h1.ant-typography,
.ant-typography h1 {
  font-size: 1.9rem;
}

h2.ant-typography,
.ant-typography h2 {
  font-size: 1.5rem;
}

h3.ant-typography,
.ant-typography h3 {
  font-size: 1.2rem;
}

h4.ant-typography,
.ant-typography h4 {
  font-size: 1rem;
}

h5.ant-typography,
.ant-typography h5 {
  font-size: 0.8rem;
}

.ant-typography {
  font-size: 0.8rem;
}

.trimString {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trimString-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trimString-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trimString-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Font */

/* Card */

.pilar-card-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.business-card-image-wrapper {
  width: 100%;
}

.business-card-image-wrapper img,
.business-card-image-wrapper .ant-image img {
  width: 100%;
}

.homeLogo-card-image-wrapper {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}

.homeLogo-card-image-wrapper img {
  height: 100%;
  width: 100%;
}

.businessLogo-card-image-wrapper {
  height: 100px;
  width: 100px;
}

.businessLogo-card-image-wrapper img {
  height: 100%;
  width: 100%;
}

.management-card-image-wrapper {
  width: 100%;
}

.management-card-image-wrapper img,
.management-card-image-wrapper .ant-image img {
  width: 100%;
}

/* Card */

/* Thumbnail Slider */
.pilar-thumbnail-wrapper.swiper-container {
  width: 100%;
}

.pilar-thumbnail-wrapper .swiper-wrapper {
  width: 100%;
}

.pilar-thumbnail-image.swiper-slide,
.pilar-thumbnail-image.swiper-slide img {
  width: 100%;
}

.pilar-thumb-wrapper.swiper-container {
  width: 100%;
}

.pilar-thumb-wrapper .swiper-wrapper {
  width: 100%;
}

.pilar-thumb-image.swiper-slide,
.pilar-thumb-image.swiper-slide img {
  width: 100%;
  cursor: pointer;
}
/* Thumbnail Slider */

/* Center Slider */

.PilarCenterSliderClass {
  height: 200px;
  width: 100%;
  padding: 10px;
}

.PilarCenterImageClass {
  width: 50% !important;
  cursor: grab;
  margin: 0 1em;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.PilarCenterSliderClass
  > .swiper-wrapper
  > .swiper-slide.swiper-slide-next::before {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
/* Center Slider */

/* For mobile phones: */
