/* For tablets: */

@media only screen and (min-width: 600px) {
  .loading-page img {
    width: 80%;
  }

  .splash-screen-page {
    height: 92vh;
  }

  .splash-screen-page img {
    width: 80%;
  }

  .HeaderCarouselClass {
    padding: 5vw;
  }

  h2.ant-typography.CarouselTitleClass,
  .ant-typography h2.CarouselTitleClass {
    font-size: 2rem;
  }

  .MissionCarouselClass {
    height: 100%;
    align-items: center;
    display: flex;
    padding-bottom: 5vw;
  }

  .MissionCarouselClass .slick-list,
  .MissionCarouselClass .slick-list .slick-track {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .MissionCarouselClass .slick-list .slick-track .slick-slide {
    display: flex;
  }

  .MissionRow {
    height: 100%;
    display: flex !important;
  }

  .MissionChildRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    justify-content: center;
  }

  .IntroductionImage {
    height: 100%;
    min-height: 20rem;
  }

  .ProjectHomeImage1 {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-top: 1em;
    left: 15%;
    z-index: 1;
  }

  .ProjectHomeImage2 {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-top: -1em;
    right: 15%;
  }

  .pilar-footer {
    background-color: #000;
    padding: 2em 10vw;
  }

  /* About */
  .PilarForewordWrap {
    min-height: 0;
  }

  .PilarVideo {
    height: 100%;
    min-height: 480px;
  }

  /* About */

  /* Gallery */
  .PilarPhotoGrid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }
  /* Gallery */

  /* Contact */

  .ContactFormAbsoluteClass {
    position: relative;
  }

  /* Contact */

  /* Project */

  .ProjectFilterSortWrap {
    justify-content: flex-end;
  }

  /* Project */

  /* Font */

  h1.ant-typography,
  .ant-typography h1 {
    font-size: 2.53333rem;
  }

  h2.ant-typography,
  .ant-typography h2 {
    font-size: 2rem;
  }

  h3.ant-typography,
  .ant-typography h3 {
    font-size: 1.6rem;
  }

  h4.ant-typography,
  .ant-typography h4 {
    font-size: 1.33333rem;
  }

  h5.ant-typography,
  .ant-typography h5 {
    font-size: 1rem;
  }

  .ant-typography {
    font-size: 1rem;
  }

  .ant-typography.vmv {
    font-size: 2rem;
  }

  /* Font */

  /* Center Slider */

  .PilarCenterSliderClass {
    height: 300px;
    width: 100%;
  }
  /* Center Slider */
}

/* For tablets: */
