.ant-layout-header.pilar-header {
  height: auto;
  padding: 0 10vw;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: #000;

  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
}

.ant-menu.pilar-menu {
  background: transparent;
  text-align: center;
}

.ant-menu-horizontal.pilar-menu,
.ant-menu-horizontal.pilar-menu:hover,
.ant-menu-horizontal.pilar-menu > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: none;
}

.ant-menu-horizontal.pilar-menu:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #e7b12e;
  border-bottom: none;
}
